[submodule "rx_via_sdr/lib/gr-lora_sdr"]
	path = rx_via_sdr/lib/gr-lora_sdr
	url = https://github.com/tapparelj/gr-lora_sdr.git
[submodule "rx_via_sdr/lib/meshtastic_protobufs"]
	path = rx_via_sdr/lib/meshtastic_protobufs
	url = https://github.com/meshtastic/protobufs.git
